.navbar {
  background-color: black;
  .navbar-brand {
    font-weight: 900;
    font-size: 23px;
    text-transform: uppercase;
  }
  .navbar-collapse {
    font-weight: 600;
    font-size: 18px;
  }
}
