#forget-password {
  height: calc(100vh - 60px - 74px);
  .box-forget-password {
    width: 400px;
    padding: 60px 30px;
    margin: 0 auto;
    border-radius: 25px;
    h2 {
      text-align: center;
      font-weight: 600;
      margin-bottom: 30px;
    }
    .btn-login {
      color: white;
      width: 100%;
      font-size: 15px;
      font-weight: 600;
      padding: 18px;
      background: linear-gradient(45deg,#e66465, #9198e5);
      border: none;
      border-radius: 0;
      margin: 25px 0;
    }
  }
}
