<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Snowtrick</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:300i,400,700,900&display=swap" rel="stylesheet">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
<section id="error-page" class="h-100 d-flex justify-content-center align-items-center">
    <div class="text-center">
        <h1>404</h1>
        <p>La page n'existe pas</p>
    </div>
</section>
</body>
</html>
