<h3>Bonjour {{ name|capitalize }}</h3>

<p>Pour renouveller ton mot de passe, veuillez cliquer sur le lien suivant <a href="{{ url('securite_reset_password') }}?token={{ token }}">Nouveau mot de passe</a></p>

<p>Merci</p>
