<h3>Bonjour {{ name|capitalize }}</h3>

<p>Pour activer ton compte, veuillez cliquer sur le lien suivant <a href="{{ url('security_confirmation') }}?token={{ token }}">Activation du compte</a></p>

<p>Merci</p>
